[core]
    editor = vim -c \"set fenc=utf-8\"
    autocrlf = input
[user]
    name = yosugi
    email = your@email.address.com
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    co      = checkout
    st      = status
    br      = branch
    pr      = pull --rebase
    ru      = remote update
    mnff    = merge --no-ff
    hist    = log --oneline --decorate --graph
    now     = commit -am 'Temporary commit'
    cancel  = reset --soft HEAD^

[help]
    autocorrect = 1
